* {
  box-sizing:border-box;
}

html {
  font-size:16px; /* Default font size */
  height:100%;
}

body {
  padding:0;
  margin:0;
  height:100%;
}

.headingandlogo {
  display:flex;
  flex-direction:row;
  flex-wrap:nowrap;
  background:#d1ccc0;
}

.hamburgermenu {
  margin:0;
  padding:0.5rem;
  display:none;
}

.hamburgermenu div {
  width:1.5rem;
  border:2px solid black;
  margin:2px 0;
}

.calculatorlogo {
  align-self:center;
}

.calculatorlogo img {
  width:3rem;
  height:3rem;
}

.heading {
  align-self:center;
  flex:100%;
}

h1 {
  text-align:center;
  margin:0;
}

.navbar {
  display:flex;
  flex-wrap:wrap;
  flex-direction:row;
  background:#555;
  text-align:center;
  font-size:1rem;
  width:100%;
}

.navbar a.closenav {
  display:none;
}

.navbar a {
  display:block;
  padding:0.5rem;
  text-decoration:none;
  color:white;
}

.navbar a:hover {
  background:#333;
}

.calculator {
  display:flex;
  flex-direction:column;
  height:100%;
  font-size:2rem;
  margin:0;
  border:2px solid grey;
  text-align:center;
}

#result {
  position:-webkit-sticky;
  position:sticky;
  top:0;
  width:100%;
  height:5rem;
  background:rgba(0,200,0,0.5);
  border-bottom:2px solid grey;
  overflow:auto;
  text-align:right;
}

.buttons {
  display:grid;
  grid-template-columns:auto auto auto auto;
  grid-template-rows:auto auto auto auto auto auto auto;
  gap:0.5rem;
  padding:1rem;
  flex-grow:1;
}

.button {
  font-size:2rem;
  padding:1rem;
  border:1px solid grey;
}

.button:hover {
  background:#111;
  color:white;
}

.button#equal {
  background:rgba(0,0,255,0.7);
  color:white;
}

.button#equal:hover {
  background:darkblue;
}

@media screen and (max-width:800px) {
  html {
    font-size:14px;
  }
}

@media screen and (max-width:600px) {
  html {
    font-size:12px;
  }

  .hamburgermenu {
    display:block;
  }

  .calculatorlogo {
    display:none;
  }

  .navbar {
    position:fixed;
    flex-direction:column;
    height:100%;
    z-index:1;
    width:0;
    overflow:hidden;
  }

  .navbar a.closenav {
    display:block;
    text-align:right;
  }

  .closenav:hover {
    color:red;
    background:black;
  }

  .buttons {
    grid-template-columns:auto auto auto;
    grid-template-rows:auto auto auto auto auto auto auto auto auto auto;
  }
  
  .button {
    font-size:1rem;
  }

  .button#equal {
    grid-column-start:1;
    grid-column-end:4;
  }

  .button:nth-of-type(16) {
    order:25;
  }

  .button:nth-of-type(17) {
    order:16;
  }

  .button:nth-of-type(18) {
    order:17;
  }

  .button:nth-of-type(19) {
    order:18;
  }

  .button:nth-of-type(20) {
    order:26;
  }

  .button:nth-of-type(21) {
    order:19;
  }

  .button:nth-of-type(22) {
    order:20;
  }

  .button:nth-of-type(23) {
    order:21;
  }

  .button:nth-of-type(24) {
    order:27;
  }

  .button:nth-of-type(25) {
    order:22;
  }

  .button:nth-of-type(26) {
    order:23;
  }

  .button:nth-of-type(27) {
    order:24;
  }

  .button:nth-of-type(28) {
    order:28;
  }
}

.display {
  display:flex;
  width:100%;
  flex-direction:row;
  flex-wrap:wrap;
  overflow:auto;
}

.display select {
  border:none;
  font-size:clamp(1rem, 1vw + 1rem, 2rem);
}

#firstlengthparameter, #secondlengthparameter {
  width:50%;
  height:auto;
  border:2px solid #333;
}

#length1, #length2 {
  width:50%;
  height:5rem;
  background:rgba(0,200,0,0.5);
  border:2px solid grey;
  overflow:hidden;
  text-align:right;
  vertical-align:middle;
  line-height:4rem;
}

.lengthbuttons {
  display:grid;
  grid-template-columns:auto auto auto auto;
  grid-template-rows:auto auto auto auto;
  gap:0.5rem;
  padding:1rem;
}

@media only screen and (max-width:400px) {
  .display {
    flex-direction:column;
  }

  #firstlengthparameter {
    order:1;
    width:100%;
  }

  #secondlengthparameter {
    order:3;
    width:100%;
  }

  #length1 {
    order:2;
    width:100%;
  }

  #length2 {
    order:4;
    width:100%;
  }
}

@media screen and (max-width:600px) {
  .lengthbuttons {
    grid-template-columns:auto auto auto;
    grid-template-rows:auto auto auto auto auto;
  }
}