* {
    box-sizing:border-box;
  }

  body {
    padding:0;
    margin:0;
  }

  .headingandlogo {
    display:flex;
    flex-wrap:nowrap;
    position:sticky;
    top:0;
    background:#d1ccc0;
  }

  .calculatorlogo {
    align-self:center;
  }

  .calculatorlogo img {
    width:3rem;
    height:3rem;
  }

  .heading {
    align-self:center;
    flex:100%;
  }

  h1 {
    text-align:center;
    margin:0;
  }

  .navbar {
    position:fixed;
    background:#f1f1f1;
    width:0;
    height:100%;
    z-index:1;
    overflow-x: hidden;
    text-align:center;
    padding-top:3rem;
    transition:0.5s;
  }

  .closenav {
    top:0;
    right:0;
    position:absolute;
    font-size:1.5rem;
  }

  .closenav:hover {
    color:red;
    background:black;
  }

  .navbar a {
    display:block;
    padding:0.5rem;
    text-align:center;
    text-decoration:none;
    color:black;
  }

  .navbar a:hover {
    background:#ddd;
  }

  .calculator {
    font-size:1rem;
    margin:10vh auto;
    border:2px solid grey;
    text-align:center;
  }

  #result {
    width:100%;
    height:5rem;
    background:lightgreen;
    border-bottom:2px solid grey;
    overflow:auto;
  }

  .button {
    display:inline-block;
    font-size:2rem;
    width:32%;
    padding:1rem;
    height:5rem;
    border:1px solid grey;
  }

  .button:hover {
    background:#111;
    color:white;
  }

  .button:last-child {
    background:blue;
    color:white;
  }